@charset "UTF-8";

.square {
  width: none;
  height: 350px;
}

.modal-content {
  background-color: white;
  color: black;
}

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
}

header {
  background-color: white;
  padding-top: 4em;
  padding-bottom: 4em;
  color: black;
}

header h1 {
  font-size: 2.5em;
}

nav {
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

body {
  background-color: white;
  width: none;
}

footer {
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer p {
  padding-top: .25em;
}

#colorDisplay {
  font-family: 'Bitter', serif;
}

#mode h5 {
  padding-right: .5em;
}

#navbar h5 {
  padding-right: .5em;
}

#rulesNav, #restart, #easyMode, #hardMode {
  cursor: pointer;
}

#rulesNav:hover, #restart:hover, #easyMode:hover, #hardMode:hover {
  color: tomato;
}

#game {
  width: auto;
}
