@charset "UTF-8";

.square {
  width: auto;
  height: 250px;
  border: 1px solid black;
}

.modal-content {
  background-color: tomato;
  color: lemonchiffon;
}

.tomato {
  color: tomato;
}

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
}

header {
  background-color: lemonchiffon;
  padding-top: 2em;
  padding-bottom: 2em;
  color: black;
}

header h1 {
  font-size: 4em;
}

nav {
  background-color: white;
  padding-top: .5em;
  padding-bottom: .5em;
}

body {
  background-color: white;
}

footer {
  padding-top: .5em;
  padding-bottom: .5em;
}

footer p {
  padding-top: .25em;
}

#mode h5{
  padding-right: .5em;
}

#rulesNav, #restart, #easyMode, #hardMode {
  cursor: pointer;
}

#rulesNav:hover, #restart:hover, #easyMode:hover, #hardMode:hover {
  color: tomato;
}
